@model Core.DTOs.Inventario.InventariosIndexViewModel
@using Core
<div class="m-content" style="width: 100%">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Inventarios
					</h3>
				</div>
			</div>
		</div>

		<div class="m-portlet__body">
			<!--begin: Search Form -->
			<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
				<div class="row align-items-center">
					<div class="col-xl-8 order-2 order-xl-1">
						<div class="form-group m-form__group row align-items-center">
							<div class="col-md-4">
								<div class="m-input-icon m-input-icon--left">
									<input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
									<span class="m-input-icon__icon m-input-icon__icon--left">
										<span>
											<i class="la la-search"></i>
										</span>
									</span>
								</div>
							</div>
						</div>
					</div>
					@if (HasPermisos(Core.Constants.AccessFunctions.AddInventario))
					{
						<!-- ko if: $.grep(dataViewModel.inventarios(), function (item) { return item.estado() === @((int) Constants.InventarioEstado.Pendiente); }).length == 0 -->
						<div class="col-xl-4 order-1 order-xl-2 m--align-right">
							<a href="@Url.Action("Add", "Inventario", new { area = "Platform"})" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
								<span>
									<i class="la la-plus"></i>
									<span>
										Agregar
									</span>
								</span>
							</a>
							<div class="m-separator m-separator--dashed d-xl-none"></div>
						</div>
						<!-- /ko -->
					}

				</div>
			</div>
			<!--end: Search Form -->
			<!--begin: Datatable -->
			<table class="m-datatable" id="inventarioIndexTable" width="100%">
				<thead>
					<tr>
						<th title="Field #1">
							Fecha
						</th>
						<th title="Field #2">
							Estado
						</th>

						<th></th>
					</tr>
				</thead>
				<tbody data-bind="foreach: inventarios">
					<tr>
						<td data-bind="text: moment(dateCreated()).format('DD/MM/YYYY')"></td>
						<td data-bind="text: estadoDescription"></td>

						<td>
							<!-- ko if: estado() == @((int) Constants.InventarioEstado.Pendiente) -->
							@if (HasPermisos(Core.Constants.AccessFunctions.EditInventario))
							{
								<a data-bind="attr: { href: '@Url.Action("Edit", "Inventario", new  { area = "Platform" })?id=' + id() }"><i class="fa fa-edit"></i> Editar</a>
							}


							@if (HasPermisos(Core.Constants.AccessFunctions.AnularInventario))
							{

								<a href="#" data-bind="attr: { id: id() }" onClick="javacript: openAnularModal(this)"><i class="fa fa-trash"></i> Anular</a>

							}
							<!-- /ko -->



						</td>
					</tr>
				</tbody>
			</table>
			<!--end: Datatable -->
		</div>
	</div>
</div>
@{
	Html.RenderPartial("~/Areas/Platform/Views/Inventario/Shared/_ReasonAnularInventarioModal.cshtml");

}
@section scripts{
	<script>

        var model = @Html.Raw(Json.Serialize(Model));
        var dataViewModel = ko.mapping.fromJS(model);
        dataViewModel.deleteReason = ko.observable();
        dataViewModel.idToDelete = ko.observable();
        dataViewModel.anular = function(){

            //bootbox.confirm("Estas seguro?", function (result) {
                //if (result) {
                    $.ajax({
                        url: "@Url.Action("Anular")",
                        type: "POST",
                        data: { id: dataViewModel.idToDelete(), razon: dataViewModel.deleteReason() },
                        success: function (response) {
                            if (response.success) {

                                localStorage.setItem('show', 'true');
                                showSuccessAndGoToUrl(response.message, '@Url.Action("Index", "Inventario", new { area = "Platform"})');
                            } else {
                                showError(response.message);
                            }
                        },
                        error: function () {
                            showError("Error!");
                        }
                    });
                //}
            //});
            return false;
        }

        function openAnularModal(element)
        {
            dataViewModel.idToDelete($(element).attr('id'));
            $("#reasonAnularInventarioModal").modal("show");
        }
        ko.applyBindings(dataViewModel);
        $(document).ready(function () {

        });
	</script>
}

