@model Core.DTOs.Inventario.InventariosEditViewModel
@using Core.Helpers
@using Core
<div class="m-content" style="width: 100%">
	<div class="row">
		<div class="col-md-12">
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="row">
						<div class="col-md-6 col-sm-4">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title" style="margin-top: 20px;">
									<h3 class="m-portlet__head-text">
										Inventario
									</h3>
								</div>
							</div>
						</div>
						<!-- ko if: estado() != @((int)Core.Constants.InventarioEstado.Anulado)  && estado() == @((int)Core.Constants.InventarioEstado.Pendiente)-->
						<div class="col-md-6 col-sm-4" align="right">
							<div class="m-portlet__head-title" style="margin-top: 20px;">
								<button type="button" class="btn btn-success" data-bind="click: postDataToController">
									Terminar
								</button>
							</div>
						</div>
						<!-- /ko -->
						<!-- ko if: estado() != @((int)Core.Constants.InventarioEstado.Anulado)  && estado() == @((int)Core.Constants.InventarioEstado.Terminado)-->
						<div class="col-md-6 col-sm-4" align="right">
							<div class="m-portlet__head-title" style="margin-top: 20px;">
								<button type="button" class="m-demo__preview  m-demo__preview btn btn m-btn m-btn--gradient-from-primary m-btn--gradient-to-info" data-bind="click: postDataToController">
									Confirmar
								</button>
							</div>
						</div>
						<!-- /ko -->
					</div>
				</div>
				<!--begin::Form-->
				<form id="form" class="m-form m-form--fit m-form--label-align-right">
					<div class="m-portlet__body">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Fecha
									</label>
									<div class="col-10">
										<input class="form-control m-input" type="text" id="productoNombre" data-bind="value: moment(dateCreated()).format('DD/MM/YYYY HH:mm A')" readonly>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Usuario
									</label>
									<div class="col-10">
										<input type="text" class="form-control m-input" id="nombre" name="fecha" value="@User.Claims.FirstOrDefault(x => x.Type == CustomClaims.UserName).Value" readonly>
									</div>
								</div>

							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Productos
							</h3>
						</div>
					</div>
				</div>

				<div class="m-portlet__body">
					<!--begin: Datatable -->
					<table id="detalleInventarioTable" class="table m-table m-table--head-bg-success">
						<thead>
							<tr>
								<th>
									Nombre
								</th>
								<th style=" text-align : center">
									Stock Anterior
								</th>
								<th style=" text-align : center">
									Stock Encontrado
								</th>

							</tr>

						</thead>
						<tbody data-bind="foreach: detalleInventario">
							<tr>
								<td width="60%" data-bind="text: productoNombre"></td>
								<td width="20%" data-bind="text: stockActual"></td>
								<!-- ko if: $root.estado() != @((int)Core.Constants.InventarioEstado.Anulado)  && $root.estado() != @((int)Core.Constants.InventarioEstado.Terminado)-->
								<td width="20%"><input class="form-control m-input" type="text" data-bind="value: stockEncontrado" readonly></td>
								<!-- /ko -->
								<!-- ko if: $root.estado() == @((int)Core.Constants.InventarioEstado.Anulado)  || $root.estado() == @((int)Core.Constants.InventarioEstado.Terminado)-->
								<td width="20%" data-bind="text: stockEncontrado"></td>
								<!-- /ko -->
							</tr>
						</tbody>
					</table>
					<!--end: Datatable -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /content -->
@section scripts{
	<script>
        var model = @Html.Raw(Json.Serialize(Model));
        var dataViewModel = ko.mapping.fromJS(model);


        dataViewModel.postDataToController = function () {
            $.ajax({
                url: "@Url.Action("Edit", "Inventario")",
                type: "POST",
                data: { model: ko.toJSON(dataViewModel) },
                success: function (response) {
                    if (response.success) {
                        showSuccessAndGoToUrl(response.message, '@Url.Action("Index", "Inventario", new { area = "Platform"})');
                    } else {
                        showError(response.message);
                    }
                },
                error: function () {
                    showError();
                }
            });
            return false;
        }
        $(document).ready(function () {
            $('#form').validate({
                rules: {
                    estado: {
                        required: true
                    },
                },
                errorPlacement: function (error, element) {
                    var span = element.siblings('span');
                    error.appendTo(span);
                }
            });
        })

        ko.applyBindings(dataViewModel);
	</script>
}