@model Core.DTOs.Clientes.ClientesIndexViewModel

<div class="m-content" style="width: 100%">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Clientes
                    </h3>
                </div>
            </div>
        </div>

        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-4">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                        <span>
                                            <i class="la la-search"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (HasPermisos(Core.Constants.AccessFunctions.AddCliente)) 
                    {
                        <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                            <a href="@Url.Action("Add", "Clientes", new { area = "Platform"})" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>
                                        Agregar
                                    </span>
                                </span>
                            </a>
                            <div class="m-separator m-separator--dashed d-xl-none"></div>
                        </div>
                    }
                    
                </div>
            </div>
            <!--end: Search Form -->
            <!--begin: Datatable -->
            <table class="m-datatable" id="rolesIndexTable" width="100%">
                <thead>
                    <tr>
                        <th title="Field #1">
                            Nombre/Razon Social
                        </th>
                        <th title="Field #2">
                            RUC
                        </th>
                        <th title="Field #2">
                            Telefono
                        </th>
                        <th title="Field #2">
                            Saldo
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: clientes">
                    <tr>
                        <td data-bind="text: displayName"></td>
                        <td data-bind="text: ruc"></td>
                        <td data-bind="text: telefono"></td>
                        <td data-bind="text: saldo"></td>
                        
						<td>
							<div class="btn-group bootstrap-select form-control m-bootstrap-select m-bootstrap-select--solid">
								<button type="button" class="btn dropdown-toggle bs-placeholder btn-default" data-toggle="dropdown" role="button" data-id="m_form_type" title="All">
									<span class="filter-option pull-left">
										Opciones
									</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span>
								</button><div class="dropdown-menu open" role="combobox">
									<ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
										@if (HasPermisos(Core.Constants.AccessFunctions.EditCliente))
										{
											<li data-original-index="0" class="selected">

												<a data-bind="attr: { href: '@Url.Action("Edit", "Clientes", new  { area = "Platform" })?id=' + id() }" tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
													<span class="fa fa-edit"></span>&nbsp;
													<span class="text">
														Editar
													</span>
												</a>
											</li>
										}
										@if (HasPermisos(Core.Constants.AccessFunctions.DeleteCliente))
										{
											<li data-original-index="1">
												<a href="#" data-bind="attr: { id: id() }" onClick="javacript: desactivate(this)" tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
													<span class="fa fa-trash"></span>&nbsp;
													<span class="text">
														Eliminar
													</span>
												</a>
											</li>
										}


									</ul>
								</div>
							</div>
							@*@if (HasPermisos(Core.Constants.AccessFunctions.EditCliente))
							{
								<a data-bind="attr: { href: '@Url.Action("Edit", "Clientes", new  { area = "Platform" })?id=' + id() }"><i class="fa fa-edit"></i></a>
							}
							@if (HasPermisos(Core.Constants.AccessFunctions.DeleteCliente))
							{
								<a href="#" data-bind="attr: { id: id() }" onClick="javacript: desactivate(this)"><i class="fa fa-trash"></i></a>
							}*@


						</td>
                    </tr>
                </tbody>
            </table>
            <!--end: Datatable -->
        </div>
    </div>
</div>
@section scripts{
    <script>

        var model = @Html.Raw(Json.Serialize(Model));
        var dataViewModel = ko.mapping.fromJS(model);
        function desactivate(element){
            var id = $(element).attr('id');
            //bootbox.confirm("Estas seguro?", function (result) {
                //if (result) {
                    $.ajax({
                        url: "@Url.Action("Desactivate")",
                        type: "POST",
                        data: { id: id},
                        success: function (response) {
                            if (response.success) {

                                localStorage.setItem('show', 'true');
                                window.location.reload();
                            } else {
                                showError(response.message);
                            }
                        },
                        error: function () {
                            showError("Error!");
                        }
                    });
                //}
            //});
            return false;
        }
        ko.applyBindings(dataViewModel);
        $(document).ready(function () {
            var show = localStorage.getItem('show');
            if (show === 'true') {
                showSuccess("Se ha eliminado correctamente el cliente");
                localStorage.setItem('show', 'false');
            }
        });
    </script>
}
